a{
    text-decoration: none;
}
a:visited{
    color: var(--blue);
}
html{
    scroll-behavior: smooth;
}
:root{
    --blue: #0d47a1;
    --light-blue: #64b5f6;
    --dark-blue: #082e4d;
    --red: #d32f2f;
    --yellow: #fbc02d;
    --green: #388e3c;
    --grey: #757575;
    --white: #fff;
    --white-transparent: #ffffff80;
    --black: #000;
    --black-transparent: #00000080;
    --orange: #df8908;
    --transparent: rgba(0,0,0,0);
}
.main {
    display: block;
    position: absolute;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.main__img {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}
.logo {
    width: 256px;
    height: 210px;
    background-color: var(--white-transparent);
    position: absolute;
    top: 0;
    right: 100px;
    box-shadow: 4px 4px 4px var(--black-transparent);
    border-radius: 0px 0px 5px 5px;
}
.main__home{
    display: block;
    height: 70vh;
    width: 100%;
}
.main__menu{
    height: 75px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
.main__block{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;
}
.main__block--small{
    height: 75vh;
}

.main__block--smaller{
    height: 50vh;
}

.block__body{
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    /*outline: red solid 3px;*/
}


.block__bodyTI{
    justify-content: space-evenly;   
}

.block__bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img\(19\).jpg");
    background-position: top;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.block__body--img{
    width: 40%;
    height: 70%;
    display: inline-block;
    object-fit: cover;
    border-radius: 5px;
}
.block__body--text{
    width: 40%;
    height: 70%;
    display: flex;
    text-align: justify;
    vertical-align: middle;
    padding: 0px 20px;
    color: var(--white);

    flex-flow: column nowrap;
    justify-content: center;
}
.block__body--text--long{
    width: 80%;
}
.block__body--text--h3{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2.0rem;
    background-color: var(--blue);
    padding: 1.2rem 0;
    transform: translateY(150%);
    animation: showContent 2s alternate infinite;
    animation-play-state: paused;
}
.block__body--text--p{
    line-height: 2;
    font-weight: bold;
    opacity: 0;
    animation: showContentp 2s alternate infinite;
    animation-play-state: paused;
}

.logo__img {
    margin: 8px;
    margin-top: 50px;
    width: 240px;
    object-fit: contain;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: var(--white);
    position: relative;
    display: block;
}

.menu__info {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--white);
    top: 0;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu__info--item {
    position: relative;
    display: inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
    font-size: 1.5rem;
}

.footer__icons {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: var(--white);
    display: flex;

    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer__icons--item {
    position: relative;
    display: inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #161f78;
    font-size: 1.5rem;
}
.footer__icons--item--big {
    font-size: 1.7rem;
}

.block__heroImage {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img\(20\).jpg");

    /* Set a specific height */
    height: 25%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: top;
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /*outline: red solid 3px;*/
}

.block__heroImage--big {
    height: 100%;
}
  
/* Place text in the middle of the image */
.block__heroText {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(10%, -50%);
    color: var(--white);
}
.block__heroText--h3{
    font-size: 3rem;
}
.block__heroText--p{
    font-size: 1rem;
}

.block__body--number{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

}
.block__body--number--h3{
    font-size: 4rem;
    font-weight: 900;
    color: var(--dark-blue);
}
.block__body--number--p{
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: 900;

}

.card{
    width: 15rem;
    height: 20rem;
    position: relative;
    display: inline-flex;
    background-color: var(--white);
    box-shadow: 4px 4px 4px var(--black-transparent);
    border-radius: 5px;
    font-size: 14px;
    
    flex-flow: column nowrap;
    justify-content: space-between;
    
    overflow: hidden;
}
.card__img{
    width: 100%;
    object-fit: contain;
}
.card__body{
    margin: 1.5em;
    margin-bottom: 2em;
}
.card__body--h5{
    font-size: 1.5em;
}
.card__body--p{
    font-size: 1em;
}

@keyframes showContent {

    0%{
        transform: translateY(150%);
    }

    100%{
        transform: translateY(0%);
    }
    
}

@keyframes showContentp {

    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

@media screen and (max-width: 600px) {
    .logo {
        right: 0;
        margin: auto;
    }
    .main__menu{
        height: 150px;
    }
    .block__body--img{
        width: 80%;
        height: 50%;
        margin: 2rem;
    }
    .block__body--text{
        width: 80%;
    }
    .main__block{
        height: 200vh;
    }
    .block__body{
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    
}

