.main {
    display: block;
    position: absolute;
    width: 100%;
}
.main__img {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    object-fit: cover;
}
.logo {
    width: 256px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    top: 0;
    right: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px;
}
.main__home{
    display: block;
    height: 70vh;
    width: 100%;
}
.main__menu{
    height: 75px;
    width: 100%;
    background-color: rgba(112, 11, 11, 0.87);
}
.main__block{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-flow: row wrap;

    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.block__body{
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;
    align-items: center;
    align-content: space-around;

    /*outline: red solid 3px;*/
}

.block__bodyTI{
    justify-content: center;
}

.block__body--img{
    width: 40%;
    height: 70%;
    display: inline-block;
    object-fit: cover;
    border-radius: 5px;
}
.block__body--text{
    width: 40%;
    height: 70%;
    display: flex;
    text-align: left;
    vertical-align: middle;
    padding: 0px 20px;

    flex-flow: column nowrap;
    justify-content: center;
}

.logo__img {
    margin: 8px;
    margin-top: 50px;
    width: 240px;
    object-fit: contain;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    display: block;
}

.menu__info {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #161f78;
    top: 0;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu__info--item {
    position: relative;
    display: inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}

.footer__icons {
    width: 100%;
    height: 50%;
    position: relative;
    background-color: #ffffff;
    display: flex;

    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer__icons--item {
    position: relative;
    display: inline;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #161f78;
    font-size: 1.5rem;
}
.footer__icons--item--big {
    font-size: 1.7rem;
}

.block__heroImage {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/img\(1\).jpg");

    /* Set a specific height */
    height: 25%;
    width: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    /*outline: red solid 3px;*/
}
  
/* Place text in the middle of the image */
.block__heroText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.block__heroText--h3{
    font-size: 3rem;
}
.block__heroText--p{
    font-size: 1rem;
}


.card{
    width: 15rem;
    height: 20rem;
    position: relative;
    display: inline-flex;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 14px;
    
    flex-flow: column nowrap;
    justify-content: space-between;
    
    overflow: hidden;
}
.card__img{
    width: 100%;
    object-fit: contain;
}
.card__body{
    margin: 1.5em;
    margin-bottom: 2em;
}
.card__body--h5{
    font-size: 1.5em;
}
.card__body--p{
    font-size: 1em;
}

@media screen and (max-width: 500px) {
    .logo {
        right: 0;
        margin: auto;
    }
    .block__body--img{
        width: 80%;
        height: 50%;
        margin: 2rem;
    }
    .block__body--text{
        width: 80%;
    }
    .main__block{
        height: 200vh;
    }
    .block__body{
        flex-flow: column nowrap;
        justify-content: space-between;
    }
}