.main {
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.main__img {
    width: 100vw;
    height: 70vh;
    position: absolute;
    object-fit: cover;
}
.logo {
    width: 256px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0.87);
    position: absolute;
    top: 0;
    right: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0px 0px 5px 5px;
}


.logo__img {
    margin: 8px;
    margin-top: 50px;
    width: 240px;
    object-fit: contain;
}
.footer {
    width: 100vw;
    height: calc(63vh - 200px);
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
}

.footer__info {
    width: 100vw;
    height: 50%;
    position: relative;
    background-color: #161f78;
    top: 0;
}

.footer__info--item {
    width: 25%;
    position: relative;
    display: inline-block;
    text-align: center;
    top: calc((63vh - 200px)/6);
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    .logo {
        right: 0;
        margin: auto;
    }
}